.btn-sm{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: -2px -2px 6px rgb(255, 238, 5),
                2px 2px 6px rgb(255, 238, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
}

.btn-danger{
    color: #E23221;
}

@media (max-width: 1200px){
    .tasks{
        grid-template-columns: repeat(4, 1fr);
    
    }

}

@media (max-width: 900px){
    .tasks{
        grid-template-columns: 1fr;
    
    }

}

@media (max-width: 700px){
    .container{
        grid-template-columns: 1fr;
    }

}