@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,900&display=swap');

:root{
  --font-color:#000000;
}

a{
  color: var(--font-color);
  text-decoration: none;
}
body {
  color: var(--font-color);
  font-family: 'Poppins' sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
    background-color: #FFE601;
  }

h1{
  color: #000000;
  font-weight: bolder;
  font-size: 2rem;
}